.container {
  width: 600px;
  margin: 50px auto;
  background-color: white;
  height: 500px;
  color: black;
}
.inputs {
  text-align: center;
}
.inputs input {
  text-align: center;
  height: 10vh;
  max-height: 50px;
  min-width: 35px;
  width: 60vw;
  max-width: 400px;
  min-width: 150px;
  border-radius: 15px;
  outline: 0px;
  font-size: 22px;
  margin-bottom: 20px;
}
.button {
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  outline: 0px;
  font-size: 22px;
  margin-top: 10px;
  background-color: rgb(35, 64, 231);
  color: white;
}

.input1 {
  position: absolute;
  top: 300px;
}
.input2 {
  position: absolute;
  top: 400px;
}
.input3 {
  position: absolute;
  top: 500px;
}
p {
  color: black;
}
